.side-bar{
    background-color: gray;
    height: 100%;
    position: absolute;
    width: 25%;
    left: 0;
    top: 0;
}

.buttons{
    width: 30%;
    padding: 4% 2% 4% 2%;
    margin: 50% 50% 10% 25%;
    border: 2px solid black;
   
       
}



.grid-container{
    
    display:grid;
    grid-template-columns:auto auto auto auto;
    border: 2px solid black;
    background-color: rgb(236, 239, 240);
    margin-left: 30%;
    height: 35%;
    margin-top: 1.5%;
    width: 55%;
}
.item{
    padding: 10% 3% 10% 3%;
    border: 1.5px solid black;
    text-align: center;
    font-size: 1.5rem;
    
    
}


.button-delete{
    width: 45%;
    padding: 5%;
    text-align: center;
    border: 2px solid black;
    background-color: rgb(164, 186, 226);
}




.new-employee-button{
    font-size:1rem ;
    margin-left: 30%;
    margin-top: 2%;
    padding: 0.5%;
}




.new-employee-text{
    font-size: 2rem;
    margin-top: 3%;
    padding-left: 26.4% ;
    margin-left: 3.5%;
}




.new-employee{
    display:grid;
    border: 2px solid black;
    margin-left: 30%;
    background-color: rgb(236, 239, 240);
    height: 40%;
    width: 40%;
    
}
.name{
    margin-left:20%;
    margin-top:3%;
    font-size: 2rem;
}
.label-name{
    margin-left:6%;
    width: 35%;
    padding:2%;
}

.area{
    margin-left:20%;
    margin-top:6%;
    font-size: 2rem;
}


.label-area{
    margin-left:9%;
    width: 35%;
    padding:2%;
}


.id{
    margin-left:20%;
    margin-top:9%;
    font-size: 30px;
    font-size: 2rem;
}

.label-id{
    margin-left:14%;
    width: 35%;
    padding:2%;
}


.add-button{
    margin-bottom: 2%;
    margin-left:70%;
    padding:1%;
    background-color: rgb(164, 186, 226);
    width: 12%;
    font-size: 0.8rem;
    

}



