<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="628fdf">  <td>20/11/16 21:26:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PersonServiceTestCase.setup()[pri:0, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@7791a895]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>20/11/16 21:26:52</td>   <td>38</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personCreationTest1()[pri:1, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@7791a895]">personCreationTest1</td> 
  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>20/11/16 21:26:53</td>   <td>324</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personCreationTest2()[pri:2, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@7791a895]">personCreationTest2</td> 
  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>20/11/16 21:26:53</td>   <td>474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personCreationTest3()[pri:3, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@7791a895]">personCreationTest3</td> 
  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>20/11/16 21:26:53</td>   <td>514</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personCreationTest4()[pri:4, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@7791a895]">personCreationTest4</td> 
  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>20/11/16 21:26:53</td>   <td>570</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personReadTest()[pri:5, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@7791a895]">personReadTest</td> 
  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>20/11/16 21:26:53</td>   <td>596</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personReadTest2()[pri:6, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@7791a895]">personReadTest2</td> 
  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>20/11/16 21:26:53</td>   <td>624</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personReadTest1()[pri:7, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@7791a895]">personReadTest1</td> 
  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>20/11/16 21:26:53</td>   <td>662</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personReadAllTest()[pri:8, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@7791a895]">personReadAllTest</td> 
  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>20/11/16 21:26:53</td>   <td>734</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personDeleteTest()[pri:13, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@7791a895]">personDeleteTest</td> 
  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>20/11/16 21:26:53</td>   <td>850</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personDeleteTest1()[pri:14, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@7791a895]">personDeleteTest1</td> 
  <td>main@198761306</td>   <td></td> </tr>
</table>
